<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.codemonkeylabs.fpslibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于在UI上显示FPS值-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application>
    </application>

</manifest>
